<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @handbook_abroad_traveling_reason.name %>
</p>


<%= link_to 'Edit', edit_handbook_abroad_traveling_reason_path(@handbook_abroad_traveling_reason) %> |
<%= link_to 'Back', handbook_abroad_traveling_reasons_path %>
