<h1>Редактирование элемента в справочнике "Место работы сотрудника"</h1>

<%= render 'form' %>

<%= link_to 'Показать', @handbook_place_employee %> |
<%= link_to 'Назад', handbook_place_employees_path %>
